.back{
    position: absolute;
    top: 46px;
    left: -20px;
    right: -40px;
    bottom: 10%;
    width: auto;
    height: auto;
    background-image:url("_images/busy_street2.JPG");
    background-size: cover;
    /* -webkit-filter: blur(5px); */
    z-index: 0;
    }

  
    #googleMap{
        margin-top: 10%;
        width:80%;
        height:80%;
        margin-left:10%;
        margin-bottom: 20%;
    }