body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.all_site{
    widows: 1300px;
    background-color:#FFF;
    margin:0 auto
}

header {
    height: 49px;/*TODO: change to the pic px*/
    float: left;
    width:100%;
    background:#333333;
    background-image:url("headline.JPG");
}

header .logo{
    widows: 100px;
    float: left;
    text-align: left;
    margin-left:25px;

}
header nav{
    width:100px;
    float: right;
   
}
header nav ul{
    list-style-type: none;
    padding: 0;
    margin:0;
}

header nav ul li{
    display: inline-block;
    color: #333;
    height:49px;
    padding:0 20px;
    line-height:49px;
    vertical-align:center;
    text-align: center;
    float: right;


}
