header .back{
    position: absolute;
    top: 82px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: auto;
    margin-bottom:0;
    background-image:url("../_images/busy_street2.JPG");
    background-size: cover;
    /* -webkit-filter: blur(5px); */
    /* padding-block-end: 40px; */
    z-index: 0;
    }
    

  
    #googleMap{
        margin-top: 52px;
        width:80%;
        height:80%;
        margin-left:10%;
        margin-bottom: 40px;
    }