body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

img{
    float:left;
}

.all_site{
    widows: 1024px;
    background-color:rgb(124, 20, 20);
    margin:0 auto;
    height: 1800px;
}

header {
    height: 50px;/*TODO: change to the pic px*/
    float: left;
    width:100%;
    background:#070000;
    /* background-image:url("_images/headline.JPG"); */
}

header .logo{
    widows: 200px;
    float: left;
    text-align: left;
    margin-left:0;

}
header nav{
    width:408px;
    float: right;
   margin-top: 0;
}
header nav ul{
    list-style-type: none;
    padding: 200;
    margin:600;
}

header nav ul li{
    display:inline-block;
    color: rgb(250, 248, 248);
    height:49px;
    padding:0 20px;
    line-height:49px;
    vertical-align:center;
    text-align: center;
    float: right; 
    border-right: 1px solid #ccc;

}
.all_site .googleMap{
    widows: 100%;
    height: 1800px;
    width: 1024px;

}
.map_canvas { 
    height: 100% 
}

footer{
    background-color: #070000; 
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgb(250, 248, 248);
    margin-bottom: 0;

}

p.clear{
    clear: both;
    height: 0;
    margin: 0;
    padding: 0;

}
